neural-robot-dynamics/pretrained_models/
.vscode/settings.json
/neural-robot-dynamics/train/wandb
/outputs/tmp
/data
/neural-robot-dynamics/eval/eval_passive/wandb
/neural-robot-dynamics/eval/eval_rl/runs
/neural-robot-dynamics/eval/eval_rl/wandb
